body{
    display: flex;
    justify-content: center;
}

.boxLogin{
    width: 400px;
    border: 1px solid;
    box-shadow: 0px 4px 16px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40%;

    img{
        width:  100%;
        margin-bottom: 30px;
    }

    button{
        width: 120px;
    }
}
